doctype
html
  head
    include includes/head
  body
    include includes/header
    include includes/panel
    // Views
    .views
      // Your main view, should have "view-main" class
      .view.view-main
        // Top Navbar
        .navbar
          .navbar-inner
            // We have home navbar without left link
            .center.sliding 智能物联
            .right
              // Right link contains only icon - additional "icon-only" class
              a(href="#").link.icon-only.open-panel 
                i.icon.icon-bars
        // Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes
        .pages.navbar-through.toolbar-through
          // Page, data-page contains page name
          .page(data-page="index")
            // Scrollable page content
            .page-content
              .content-block-title 我的设备
              .list-block
                ul#device-list
                  li
                    a(href="led_page.html").item-link
                      .item-content
                        .item-media.index-img
                          img(src="img/icons/led.svg")
                        .item-inner
                          .inner-title-row
                            .item-title.index-title 智能照明
                            .item-subtitle.index-subtile  大厅、客厅、LOGO灯、灯带
                  li
                    a(href="kic_page.html").item-link
                      .item-content
                        .item-media.index-img
                          img(src="img/icons/gas.svg")
                        .item-inner
                          .inner-title-row
                            .item-title.index-title 智能厨房
                            .item-subtitle.index-subtile  燃气控制、自来水开关
                  li
                    a(href="door_page.html").item-link
                      .item-content
                        .item-media.index-img
                          img(src="img/icons/access.svg")
                        .item-inner
                          .inner-title-row
                            .item-title.index-title 门禁
                            .item-subtitle.index-subtile  前门、后门
                  li
                    a(href="camera_page.html").item-link
                      .item-content
                        .item-media.index-img
                          img(src="img/icons/camera.svg")
                        .item-inner
                          .inner-title-row
                            .item-title.index-title 摄像监控
                            .item-subtitle.index-subtile  摄像头监控、云台
                  li
                    a(href="air_page.html").item-link
                      .item-content
                        .item-media.index-img
                          img(src="img/icons/air.svg")
                        .item-inner
                          .inner-title-row
                            .item-title.index-title 空调
                            .item-subtitle.index-subtile  吸顶空调遥控器
                  li
                    a(href="tv_page.html").item-link
                      .item-content
                        .item-media.index-img
                          img(src="img//icons/tv.png")
                        .item-inner
                          .inner-title-row
                            .item-title.index-title 电视
                            .item-subtitle.index-subtile  电视遥控器
                  li
                    a(href="curtain_page.html").item-link
                      .item-content
                        .item-media.index-img
                          img(src="img//icons/curtain.svg")
                        .item-inner
                          .inner-title-row
                            .item-title.index-title 窗帘
                            .item-subtitle.index-subtile  控制房间内窗帘的开闭
                  li
                    a(href="volume_page.html").item-link
                      .item-content
                        .item-media.index-img
                          img(src="img//icons/volume.png")
                        .item-inner
                          .inner-title-row
                            .item-title.index-title 智能音箱
                            .item-subtitle.index-subtile  享受音乐的惬意
                  li
                    a(href="projector_page.html").item-link
                      .item-content
                        .item-media.index-img
                          img(src="img/icons/projector.svg")
                        .item-inner
                          .inner-title-row
                            .item-title.index-title 投影仪
                            .item-subtitle.index-subtile  投影仪
                  li
                    a(href="screen_page.html").item-link
                      .item-content
                        .item-media.index-img
                          img(src="img//icons/screen.svg")
                        .item-inner
                          .inner-title-row
                            .item-title.index-title 投影幕布
                            .item-subtitle.index-subtile  幕布的升降
                  li
                    a(href="services.html").item-link
                      .item-content
                        .item-inner
                          .item-title.index-title Services
                  li
                    a(href="form.html").item-link
                      .item-content
                        .item-inner
                          .item-title.index-title Form
              .content-block-title Side panels
              .content-block
                .row
                  .col-50
                    a(href="#", data-panel="right").button.open-panel Right Panel

    include includes/scripts
