.button.button-fill.a-content-air-block-icon {
  width: 6rem;
  height: 3rem;
  margin: .5em auto;
  border-radius: 2em;
  background-color: #CCC;
  background-image: linear-gradient(45deg, #FFFFFF, #ABA2A2);
  box-shadow: inset -.15em .15em 0 #ABA8A8, inset .1em -.1em 0 #FFFFFF;
  //position: relative;
  color: rgb(21, 100, 123);
  font-size: 16pt;
  font-weight: bold;
  line-height: 3rem;
  //bottom: -16rem;
}
#btn-air-6{
  line-height: 3rem;
  left: -1rem;
}
.air-range-slider {
  width: 90%;
  margin: 4.7%;
}
.slider-title {
  color: #39CEB3;
  font-size: 16pt;
  line-height: 3rem;
  font-weight: bold;
  margin-left: 2em;
}
.air {
  font-size: 10em;
  color: #39CEB3;
  font-weight: bold;
  margin: 3% 6% 10px 15%;
}
.mushi{
  width: 6rem;
  height: 3rem;
  margin: .5em auto;
  border-radius: 2em;
  background-color: #CCC;
  background-image: linear-gradient(45deg, #FFFFFF, #ABA2A2);
  box-shadow: inset -.15em .15em 0 #ABA8A8, inset .1em -.1em 0 #FFFFFF;
  //position: relative;
  color: rgb(21, 100, 123);
  font-size: 16pt;
  font-weight: bold;
  //bottom: -16rem;
}
.page-content-air{
  background: url(../img/air.jpg) center 0 no-repeat;
  background-size: cover;
  height: 100%;
}