.fa.fa-camera-retro.fa-camera {
  color: #0000ed;
}
#camera-view {
  display: block;
  height: 14em;
  margin-top: 2em;
}
#camera-title {
  margin-bottom: 1em;
}
.button.button-fill.camera-btn {
  background-color: #FFFFFF;
  border-radius: 1.2em;
}
.camera-icon {
  line-height: 1.4;
  background: #FFFFFF;
  color: #009688;
}
#camera-view {
  padding: 2% 0;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#camera-view img {
  width: 100%;
}