.tv-content {
  .a-content-block-icon {
    width: 6em;
    height: 3em;
    margin: .5em auto;
    border-radius: 2em;
    /*background-color: #CCC;
    background-image: linear-gradient(45deg, #FFFFFF, #ECECEC);
    box-shadow: inset -.15em .15em 0 #666, inset .1em -.1em 0 #CCC;
    */position: relative;top:1rem;
    background-color: rgba(255, 255, 255, 0.5);
  }
}
#btn15 {
  left: -1rem;
  .fa-volume-down {
    line-height: 2.2em;
  }
  .fa-ban {
    line-height: 1.13em;
  }
}
#btn0 {
  right: -1rem;
  .fa-power-off {
    line-height: 1.5em;
  }
}
.content-block.block-btn-2{
  .a-content-block-icon.button.button-big.button-fill{
    margin: .5em auto;
    border-radius: 2em;
   /* background-color: #CCC;
    background-image: linear-gradient(45deg, #FFFFFF, #ECECEC);
    box-shadow: inset -.15em .15em 0 #ABA8A8, inset .1em -.1em 0 #CCC;
    */position: relative;
    background-color: rgba(255, 255, 255, 0.5);
}
}
#btn11 {
  width: 6em;
  height: 3em;
}
#btn12{
  width: 3em;
  height: 6em;
  left: 2rem;
}
#btn10{
  width: 5rem;
  height: 5rem;
  color: blue;
  font-size: 25pt;
  line-height: 5rem;
}
#btn13{
  width: 3em;
  height: 6em;
  right:2rem;
}
#btn14{
  width: 6em;
  height: 3em;
  top:-1rem;
}
.fa.fa-angle-up.fa-3x.content-block-icon3{
  background-repeat:no-repeat;
  color:blue;
}
.fa.fa-angle-left.fa-3x.content-block-icon4{
  color:blue;
  line-height: 1.8;
}
.fa.fa-angle-right.fa-3x.content-block-icon6{
  background-repeat:no-repeat;
  color:blue;
  position:relative;left: 0rem;bottom:-1rem;
}
.fa.fa-angle-down.fa-3x.content-block-icon7{
  background-repeat:no-repeat;
  color:blue;
}
.content-block.block-btn-3{
  .button.button-fill.a-content-block-icon{
    width: 5rem;
    height: 3rem;
    margin: .5em auto;
    border-radius: .8em;
    /*background-color: #CCC;
    background-image: linear-gradient(45deg, #FFFFFF, #ECECEC);
    box-shadow: inset -.15em .15em 0 #ABA8A8, inset .1em -.1em 0 #CCC;*/
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    color:blue;
    font-size:25pt;

  }
  #btn1, #btn2, #btn3{
   bottom:2rem;
  }
  #btn4, #btn5, #btn6{
    bottom:3rem;
  }
  #btn7,  #btn8, #btn9{
   bottom:4rem;
  }
}
.page-content-tv{
  position: relative;
  height: 100%;
  width: 100%;
  margin: auto;
  background: url(../img/tv.jpg) center 0 no-repeat;
  min-width: 372px;
  background-size: cover;
}