// We don't need full layout here, because this page will be parsed with Ajax
// Top Navbar
.navbar
  .navbar-inner
    .left
      a(href="#").back.link 
        i.icon.icon-back
        span 返回
    .center.sliding 智能空调
    .right
      // Right link contains only icon - additional "icon-only" class
      a(href="#").link.icon-only.open-panel 
        i.icon.icon-bars
.pages
  // Page, data-page contains page name
  .page(data-page="air")
    .page-content-air
     .content-block-air-title
       .li
         .air 25
       .row
         <select name="cars" class="mushi">
         <option>自动</option>
         <option>制冷</option>
         <option>抽湿</option>
         <option>制热</option>
         <option>送风</option>
         </select>
         a#btn-air-1.a-content-air-block-icon.button.button-big.button-fill
           i.fa.fa-power-off.fa-2x.color-red.content-block-icon2
         a#btn-air-2.a-content-air-block-icon.button.button-big.button-fill 风速
       .row
         a#btn-air-3.a-content-air-block-icon.button.button-big.button-fill 摆风
         a#btn-air-4.a-content-air-block-icon.button.button-big.button-fill 定时开
         a#btn-air-5.a-content-air-block-icon.button.button-big.button-fill 定时关
       .row
         a#btn-air-6.a-content-air-block-icon.button.button-big.button-fill 经济
         .item-air-title.label 温度
         .item-input
           .range-slider
             input(type="range", min="0", max="100", value="50", step="0.1")
       .row
         a#btn-air-7.a-content-air-block-icon.button.button-big.button-fill 风向
         a#btn-air-8.a-content-air-block-icon.button.button-big.button-fill 加水
       .row
         a#btn-air-9.a-content-air-block-icon.button.button-big.button-fill 加湿
         a#btn-air-10.a-content-air-block-icon.button.button-big.button-fill 电辅热