.navbar
  .navbar-inner
    .left
      a(href="#").back.link 
        i.icon.icon-back
        span 后退
    .center.sliding 摄像监控
    .right
      a(href="#").link.icon-only.open-panel
        i.icon.icon-bars
.pages
  .page(data-page="camera")
    // Scrollable page content
    .page-content
      #camera-view
        iframe(src="http://192.168.1.111:8081/javascript_simple.html")
      .content-block-title(data-bind="click: $root.controllerChanged2(6)")
        h2#camera-title 云台控制
        .row
          .col-50
            a(href="#" data-code="1").button.button-big.button-fill.camera-btn
              i.fa.fa-chevron-left.fa-2x.camera-icon
          .col-50
            a(href="#" data-code="2").button.button-big.button-fill.camera-btn
              i.fa.fa-chevron-right.fa-2x.camera-icon

