// We don't need full layout here, because this page will be parsed with Ajax
// Top Navbar

.navbar
  .navbar-inner
    .left
      a(href="#").back.link
        i.icon.icon-back
        span 返回
    .center.sliding 智能窗帘
    .right
      a(href="#").link.icon-only.open-panel
        i.icon.icon-bars
.pages
    // Page, data-page contains page name
  .page(data-page="curtain")
    .page-content.curtain-background
      .content-block-zong
        .content-block-title 窗帘列表
        .list-block.curtain
          ul.curtain-opacity
            li.accordion-item
              a(href="#").item-content.item-link
                div(class="item-inner")
                  .item-title 1号窗帘
              .accordion-item-content
                .content-block(data-bind="click: $root.controllerChanged(7)")
                  .row
                    a#btn1.curtain-button-1.button-filling-color-in
                      i(class="fa fa-arrow-left")
                    a#btn2.curtain-button-2.button-filling-color-in
                      i(class="fa fa-square")
                    a#btn3.curtain-button-3.button-filling-color-in
                      i(class="fa fa-arrow-right")
            li.accordion-item
              a(href="#").item-content.item-link
                div(class="item-inner")
                  .item-title 2号窗帘
              .accordion-item-content
                .content-block
                  .row
                   a#btn4.curtain-button-4.button-filling-color-in
                        i(class="fa fa-arrow-left")
                    a#btn5.curtain-button-5.button-filling-color-in
                      i(class="fa fa-square")
                    a#btn6.curtain-button-6.button-filling-color-in
                      i(class="fa fa-arrow-right")
            li.accordion-item
              a(href="#").item-content.item-link
                div(class="item-inner")
                  .item-title 3号窗帘
              .accordion-item-content
                .content-block
                  .row
                    a#btn7.curtain-button-7.button-filling-color-in
                      i(class="fa fa-arrow-left")
                    a#btn8.curtain-button-8.button-filling-color-in
                      i(class="fa fa-square")
                    a#btn9.curtain-button-9.button-filling-color-in
                      i(class="fa fa-arrow-right")
