// We don't need full layout here, because this page will be parsed with Ajax
// Top Navbar
.navbar
  .navbar-inner
    .left
      a(href="#").back.link 
        i.icon.icon-back
        span Back
    .center.sliding Form
    .right
      // Right link contains only icon - additional "icon-only" class
      a(href="#").link.icon-only.open-panel 
        i.icon.icon-bars
.pages
  // Page, data-page contains page name
  .page(data-page="door")
    // Scrollable page content
    .page-content
      .content-block-title Form Example
      .list-block
        ul
          li
            .item-content
              .item-media
                i.icon.icon-form-toggle
              .item-inner 
                .item-title.label 前门开关
                .item-input
                  label.label-switch
                    input(type="checkbox" data-bind="checked:($root.switchValue), event:{ change: $root.switchChanged}")
                    .checkbox
          li
            .item-content
              .item-media
                i.icon.icon-form-settings
              .item-inner
                .item-title.label(data-bind="text: $root.controller")
                .item-input
                  .range-slider
                    input(type="range", min="0", max="100", value="0", step="1" data-bind="value: $root.controller, event:{ change: $root.controllerChanged}")
