// We don't need full layout here, because this page will be parsed with Ajax
// Top Navbar
//div
                  a(href="#" class="button")
                    div
                      i(class="fa fa-chevron-circle-up")
                  a(href="#" class="button")
                    div
                      i( class="fa fa-stop")
                  a(href="#" class="button")
                    div
                      i(class="fa fa-chevron-circle-down")

// We don't need full layout here, because this page will be parsed with Ajax
// Top Navbar
.navbar
  .navbar-inner
    .left
      a(href="#").back.link
        i.icon.icon-back
        span Back
    .center.sliding
    .right
      // Right link contains only icon - additional "icon-only" class
      a(href="#").link.icon-only.open-panel
        i.icon.icon-bars
.pages
  // Page, data-page contains page name
  .page(data-page="form")
    .page-content-screen
      .content-block-screen-image-block1
        div(class="container")
          div(class="toggle")
            input(type="button")
            span(class="jj")
            span(class="label")
              i(class="fa fa-arrow-up")
      .content-block-screen-image-block2
        div(class="container")
          div(class="toggle")
            input(type="button")
            span(class="jj")
            span(class="label")
              i(class="fa fa-stop")
      .content-block-screen-image-block3
        div(class="container")
          div(class="toggle")
            input(type="button")
            span(class="jj")
            span(class="label")
              i(class="fa fa-arrow-down")