// We don't need full layout here, because this page will be parsed with Ajax
// Top Navbar
.navbar
  .navbar-inner
    .left
      a(href="#").back.link 
        i.icon.icon-back
        span 后退
    .center.sliding 智能电视
    .right
      // Right link contains only icon - additional "icon-only" class
      a(href="#").link.icon-only.open-panel 
       i.icon.icon-bars
.pages
  // Page, data-page contains page name
  .page(data-page="tv")
    // Scrollable page content
    .page-content-tv
      .tv-img-block(data-bind="click: $root.controllerChanged(9)")
        .content-block.tv-content
          .row
            a.a-content-block-icon#btn15(href="#").button.button-big.button-fill
              i.fa.fa-volume-down.a-stack-1x.color-blue
              i#ico15.fa.fa-ban.fa-stack-2x.color-red
            a.a-content-block-icon#btn0(href="#").button.button-big.button-fill
              i#ico0.fa.fa-power-off.fa-2x.color-red.content-block-icon2
        .content-block.block-btn-2
          .row
            a#btn11.a-content-block-icon.button.button-big.button-fill
              i#ico11.fa.fa-angle-up.fa-3x.content-block-icon3
          .row
            a#btn12.a-content-block-icon.button.button-big.button-fill
              i#ico12.fa.fa-angle-left.fa-3x.content-block-icon4
            a#btn10.a-content-block-icon.button.button-big.button-fill OK
            a#btn13.a-content-block-icon.button.button-big.button-fill
              i#ico13.fa.fa-angle-right.fa-3x.content-block-icon6
          .row
            a#btn14.a-content-block-icon.button.button-big.button-fill
              i#ico14.fa.fa-angle-down.fa-3x.content-block-icon7
        .content-block.block-btn-3
          .row
            a#btn1.a-content-block-icon.button.button-big.button-fill 1
            a#btn2.a-content-block-icon.button.button-big.button-fill 2
            a#btn3.a-content-block-icon.button.button-big.button-fill 3
          .row
            a#btn4.a-content-block-icon.button.button-big.button-fill 4
            a#btn5.a-content-block-icon.button.button-big.button-fill 5
            a#btn6.a-content-block-icon.button.button-big.button-fill 6
          .row
            a#btn7.a-content-block-icon.button.button-big.button-fill 7
            a#btn8.a-content-block-icon.button.button-big.button-fill 8
            a#btn9.a-content-block-icon.button.button-big.button-fill 9
