.fa.fa-camera-retro.fa-camera {
  color: #0000ed;
}
#camera-title {
  margin-bottom: 1em;
}
.button.button-fill.camera-btn {
  background-color: #FFFFFF;
  border-radius: 1.2em;
  display: block;
  width: 7rem;
  text-align: center;
  margin: auto;
}
.camera-icon {
  line-height: 1.4;
  background: #FFFFFF;
  color: #009688;
}
#camera-view {
  margin-top: 2em;
  padding: 2% 0;
  width: 90%;
  height: 40em;
  margin-left: auto;
  margin-right: auto;
}
#camera-view img , #camera-view iframe{
  width: 100%;
  border: 0;
  height: 100%;
}