.page-content-led2 {
  position: relative;
  height: 100%;
  margin: auto;
  min-width: 372px;
  background: url(../img/led2_background.jpg) center 0 no-repeat;
  background-size: cover;

  .a-content-projector-icon {
    width: 3.5em;
    height: 3.5em;
    line-height: 4.5rem;
  }

  .a-content-text-icon {
    line-height: 3.5em;
  }
}