.projector-content {
  margin: 20px 0;
}
.page-content-projector{
  position: relative;
  height: 100%;
  padding: 2.5em 0;
  margin: auto;
  min-width: 372px;
  background: url(../img/projector_background.jpg) center 0 no-repeat;
  background-size: cover;

  .a-projector-icon {
    width: 4em;
    height: 4em;
    display: block;
    padding: 0;
    margin: .5em auto;
    border-radius: 2em;
    //color: #666666;
    //background-color: rgba(255, 255, 255, 0.3);
    //border: 2px solid #fff;
    font-size: 1.25em;
    position: relative;
    line-height: 5rem;
  }

  .a-text-icon {
    line-height: 4em;
  }
}

#btn-top, #btn-down{
  width: 6em;
  height: 3em;
}
#btn-left, #btn-right{
  width: 3em;
  height: 6em;
}
#btn-ok{
  width: 6rem;
  height: 6rem;
  font-size: 20pt;
  line-height: 6rem;
}

.projector-icon-left{
  background-repeat:no-repeat;
  position:relative;left: -5%;
  line-height:2em;
}
.projector-icon-right{
  background-repeat:no-repeat;
  line-height:2em;
  position:relative;right: -5%;
}

