doctype
html
  head
    include includes/head
  body
    include includes/header
    include includes/panel
    .views.tabs
      // Your main view, should have "view-main" class
      .view.view-main.tab.active#tab1
        // Top Navbar
        .navbar
          .navbar-inner
            // We have home navbar without left link
            .center.sliding 智能物联
            .right
              // Right link contains only icon - additional "icon-only" class
              a(href="#").link.icon-only.open-panel
                i.icon.icon-bars
        // Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes
        .pages.navbar-through.toolbar-through
          // Page, data-page contains page name
          .page(data-page="index")
            // Scrollable page content
            .page-content
              .content-image
                img(src="img/background.jpg")
              .content-block-title 我的设备
              .list-block.sortable
                ul#device-list
                  li
                    a(href="pages/led_page.html").item-link
                      .item-content
                        .item-media.index-img
                          img(src="img/icons/led.svg")
                        .item-inner
                          .item-title.index-title 智能照明
                    .sortable-handler
                  li
                    a(href="pages/door_page.html").item-link
                      .item-content
                        .item-media.index-img
                          img(src="img/icons/access.svg")
                        .item-inner
                          .item-title.index-title 门禁
                    .sortable-handler
                  li
                    a(href="pages/kic_page.html").item-link
                      .item-content
                        .item-media.index-img
                          img(src="img/icons/gas.svg")
                        .item-inner
                          .item-title.index-title 智能厨房
                    .sortable-handler
                  li
                    a(href="pages/camera_page.html").item-link
                      .item-content
                        .item-media.index-img
                          img(src="img/icons/camera.svg")
                        .item-inner
                          .item-title.index-title 摄像监控
                    .sortable-handler
                  li
                    a(href="pages/air_page.html").item-link
                      .item-content
                        .item-media.index-img
                          img(src="img/icons/air.svg")
                        .item-inner
                          .item-title.index-title 空调
                    .sortable-handler
                  li
                    a(href="pages/led2_page.html").item-link
                      .item-content
                        .item-media.index-img
                          img(src="img/icons/led2.svg")
                        .item-inner
                          .item-title.index-title LED灯带
                  .sortable-handler
                  li
                    a(href="pages/tv_page.html").item-link
                      .item-content
                        .item-media.index-img
                          img(src="img/icons/tv.svg")
                        .item-inner
                          .item-title.index-title 电视
                    .sortable-handler
                  li
                    a(href="pages/curtain_page.html").item-link
                      .item-content
                        .item-media.index-img
                          img(src="img/icons/curtain.svg")
                        .item-inner
                          .item-title.index-title 窗帘
                    .sortable-handler
                  li
                    a(href="pages/projector_page.html").item-link
                      .item-content
                        .item-media.index-img
                          img(src="img/icons/projector.svg")
                        .item-inner
                          .item-title.index-title 投影仪
                    .sortable-handler
                  li
                    a(href="pages/screen_page.html").item-link
                      .item-content
                        .item-media.index-img
                          img(src="img/icons/screen.svg")
                        .item-inner
                          .item-title.index-title 投影幕布
                    .sortable-handler
                  li
                    a(href="pages/volume_page.html").item-link
                      .item-content
                        .item-media.index-img
                          img(src="img/icons/volume.svg")
                        .item-inner
                          .item-title.index-title 智能音箱
                    .sortable-handler
                  li
                    a(href="pages/window_page.html").item-link
                      .item-content
                        .item-media.index-img
                          img(src="img/icons/window.svg")
                        .item-inner
                          .item-title.index-title 窗户
                    .sortable-handler
      include includes/ip
      include includes/blood
      include includes/toolbar
    include includes/scripts
