@global-color: #2f986e;

.btn-color-1(@name, @color) {
  #@{name} {
    background-color: @color;
    @active-color: lighten(@color, 50%);
    &:hover {
      background-color: darken(@color, 20%);
    }
    &.am-active {
      background-color: @active-color;
    }
    &.am-active:hover {
      background-color: darken(@active-color, 20%);
    }
  }
}

.btn-color-2(@name, @color) {
  #@{name} {
    background-color: @color;
    &:hover {
      background-color: darken(@color, 20%);
    }
  }
}
.btn-color-tv(@color) {
  background-color: @color;
  &:hover {
    background-color: darken(@color, 10%);
  }
}