@global-color: #738fe6;
@minus-color: #333;// the color to minus
@led1-color: #fff;
@access-color: #fff;
@gas-color: #fff;
@tap_water-color: #fff;
@projector-color: #fff;
@camera-color: #fff;
@led2-color: #fff;
@air-color: #fff;
@tv-color: #fff;
@curtain-color: #fff;
@screen-color: #fff;
@volume-color: #fff;