/* button list for tv and air conditioner page */
.inner-boxes {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-left:auto;
  margin-right:auto;
  width: 90%;
  text-align:center;
  padding-left: 5%;
  padding-right: 5%;
  //position:relative;

}

.inner-box {
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  border-radius: 10%;
  cursor: pointer;
  border: 0;
  text-align: center;
  transition: all .2s ease;
  //background: radial-gradient(#ffffff, #fafff3);
  font-family: "Segoe UI Light","Segoe UI",Verdana,Tahoma,Arial;
  //height: 100%;
  font-size: 1em;
  color: #fff;
}
.tvboxes {
  font-size: 12vw;
  margin-top: 1em;
}
.tvbox  {
  width: 22vw;
  height: 14vw;
  .btn-color-tv(hsl(181, 25%, 50%));
}

.airboxes {
  font-size: 12vw;
  margin-top: 1em;
}
.airbox  {
  width: 32vw;
  height: 24vw;
  line-height: 100%;
  .btn-color-tv(hsl(181, 25%, 50%));
}