/* button list for tv and air conditioner page */
.tvboxes {
  margin-top: 1em;
  margin-left:auto;
  margin-right:auto;
  width: auto;
  text-align:center;
  padding-left: 5%;
  padding-right: 5%;
}
.tvbox {
  display:inline;
  height: auto;
  text-align: center;
  transition: all .2s ease;
  float: left;
  position: relative;
  padding: 0px;
  border-color: @global-color;
}
.tvbtn ,.tvbtn.am-active
{
  cursor: pointer;
  height: 100%;
  width: 100%;
  padding: 0px 0px;
  background-color: #fff;
  border: 0px;
  box-shadow: 0px 0px 0px;
}
.tvbtn:hover ,.tvbtn.am-active:hover{
  background-color: #667399;
}
@media screen and (min-width:1200px){
  .tvbox { width: 6%; margin: 1.33%;}
}
@media screen and (min-width: 960px) and (max-width: 1199px){
  .tvbox { width: 8%; margin: 0.95%;}
}
@media screen and (min-width: 768px) and (max-width: 959px){
  .tvbox { width: 13%; margin: 0.95%;}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .tvbox { width: 20%; margin: 1.66%; }
}
@media only screen and (max-width: 479px) {
  .tvbox {  width: 25%;  margin: 2.45%; }
}

.tvbox span
{
  color: #000;
  text-align: center;
  font-family: "Segoe UI Light","Segoe UI",Verdana,Tahoma,Arial;
  font-size: 100%;
}
.tvBtnText{
  margin-top: auto;
  margin-bottom: auto;
}