.view.tab#tab3
  .navbar
    .navbar-inner
      .center.sliding 血糖仪
      .right
        a(href="#").link.icon-only.open-panel
          i.icon.icon-bars
  .pages
    .page(data-page="blood")
      .page-content.page-content-blood
        .content-block.content-block-air-title 便携式无创血糖仪
        .row-air1#blood(data-bind='text: $root.blood') 0.0
        //.row
        //  .col-50
        //    a#btn-air-1.a-content-air-block-icon.button.button-big.button-fill
        //  .col-50
        //    a#btn-air-2.a-content-air-block-icon.button.button-big.button-fill
        .row-air2
        .row
          .col-50
            a#btn-air-3.a-content-air-block-icon.button.button-big.button-fill
          .col-50
            a#btn-air-4.a-content-air-block-icon.button.button-big.button-fill
        .row-air3 哈尔滨工程大学
