.view.tab#tab2
  .navbar
    .navbar-inner
      .center.sliding 网络设定
  .pages.navbar-through.toolbar-through
    .page(data-page="ip")#ip-area
      .page-content
        .content-block-title 当前网络环境
        .list-block
          ul
            li.item-content
              .item-inner
                .item-title(data-bind='text: $root.mode')
        .content-block-title 设定网络
        .list-block
          ul
            li
              a.item-content.item-link(data-code="1" data-bind="click: $root.setLocal")
                .item-media
                  i.fa.fa-info-circle.fa-2x
                .item-inner
                  .item-title 内网
            li
              a.item-content.item-link(data-code="4" data-bind="click: $root.setZero")
                .item-media
                  i.fa.fa-info-circle.fa-2x
                .item-inner
                  .item-title 外地外网
            li
              a.item-content.item-link(data-code="2" data-bind="click: $root.setZero2")
                .item-media
                  i.fa.fa-info-circle.fa-2x
                .item-inner
                  .item-title 实验室外网
            li
              a.item-content.item-link(data-code="3" data-bind="click: $root.setSelf")
                .item-media
                  i.fa.fa-info-circle.fa-2x
                .item-inner
                  .item-title 自定义
        //div(class="container" )
        //  div(class="toggle")
        //    input(type="button" data-code="1" data-bind="click: $root.setLocal")
        //    span(class="jj")
        //    span(class="label") 内网
        //div(class="container" data-code="2")
        //  div(class="toggle")
        //    input(type="button" data-code="2" data-bind="click: $root.setZero")
        //    span(class="jj")
        //    span(class="label") 外网
        //div(class="container" data-code="3")
        //  div(class="toggle")
        //    input(type="button" data-code="3" data-bind="click: $root.setSelf")
        //    span(class="jj")
        //    span(class="label") 自定