.view.tab#tab3
    .navbar
        .navbar-inner
            .center.sliding 实训设备
    .pages.navbar-through.toolbar-through
        .page(data-page="ip")#ip-area
            .page-content
                .content-block-title 实训设备列表
                .list-block
                    ul
                        li
                            a.item-content.item-link(data-code="1" data-bind="click: $root.setLocal")
                                .item-media
                                    i.fa.fa-info-circle.fa-2x
                                .item-inner
                                    .item-title 内网
                        li
                            a.item-content.item-link(data-code="1" data-bind="click: $root.setLocal")
                                .item-media
                                    i.fa.fa-info-circle.fa-2x
                                .item-inner
                                    .item-title 内网
                        li
                            a.item-content.item-link(data-code="1" data-bind="click: $root.setLocal")
                                .item-media
                                    i.fa.fa-info-circle.fa-2x
                                .item-inner
                                    .item-title 内网

