.toolbar.tabbar
  .toolbar-inner
    //a.tab-link(href="#tab4")
    //  i.icon.fa.fa-info-circle.fa-2x
    a.tab-link(href="#tab3")
      i.icon.fa.fa-heartbeat.fa-2x
    a.tab-link.active(href="#tab1")
      i.icon.fa.fa-th-list.fa-2x
    a.tab-link.active(href="#tab2")
      i.icon.fa.fa-cogs.fa-2x