.toolbar.tabbar
  .toolbar-inner
    <a href="#tab4" class="tab-link"><i class="icon fa fa-info-circle fa-2x"></i></a>
    <a href="#tab3" class="tab-link"><i class="icon fa fa-heartbeat fa-2x"></i></a>
    <a href="#tab1" class="tab-link active"><i class="icon fa fa-th-list fa-2x"></i></a>
    <a href="#tab2" class="tab-link"><i class="icon fa fa-cogs fa-2x"></i></a>