mixin navbar(name)
  .navbar
    .navbar-inner
      .left
        a(href="#").back.link
          i.icon.icon-back
          span 返回
      .center.sliding= name
      .right
        a(href="#").link.icon-only.open-panel
          i.icon.icon-bars

// 小标题栏
mixin switchListBar(name, iconName)
  li.switchListBar-li
    .item-content
      .item-media
        i.icon(class=iconName)
      .item-inner
        .item-title.label= name