.am-input-group.am-input-group-warning
  span.am-input-group-label
    i.am-icon-search
  input.am-form-field#filter(type="text" placeholder="查找")
table.footable.table(data-page-size="15" data-filter="#filter" data-filter-minimum="1" data-filter-timeout="500" data-filter-text-only="true")
  thead
    tr
      th 用户名
      th 密码
      th(data-hide="phone") 姓名
      th(data-hide="phone,tablet") 邮箱
      th(data-hide="phone,tablet") QQ
      th(data-hide="phone,tablet" data-sort-ignore="true")
  tbody#usmodel(data-bind="foreach: uss")
    tr
      td(data-bind="text: uid")
      td(data-bind="text: password")
      td(data-bind="text: username")
      td(data-bind="text: email")
      td(data-bind="text: qq")
      td
        a.am-btn.am-btn-primary.am-btn-sm(href="#" data-bind="click: $parent.delclick")
  tfoot.hide-if-no-paging
    tr
      td(colspan="7")
        .pagination.pagination-centered
script.
  function sssvm() {
    var self = this;
    self.uss = ko.observable();
    self.loaddata = function () {
      $.ajax({
        url: "/user",
        data : {"uid" : $.AMUI.utils.cookie.get('uid')}
      }).done(function (data) {
        console.log("UserData:",data);
        self.uss(data);
        $('.footable').footable().trigger('footable_initialize');
      });
    };

    self.delclick = function (ss) {
      var dialog_confirm = $("#dialog-confirm");
      dialog_confirm.html("你确定想删除吗？");
      dialog_confirm.dialog({
        resizable: false,
        modal: true,
        title: "智能物联",
        height: 250,
        width: 250,
        buttons: {
          "确定": function () {
            $(this).dialog('close');
            $.ajax({
              url: "/user",
              type: "POST",
              data: {"username" : $.AMUI.utils.cookie.get('uid'), "delname" : escape(ss.username)}
            }).done(function (data) {
              if (data === "") {
                self.loaddata();
                console.log("Delete sucessful!");
              } else {
                $("#msg").html(data.Error);
                $('#my-prompt').modal('open');
              }
            }).fail(function (xhr) {
              $("#msg").html(xhr.responseText);
              $('#my-prompt').modal('open');
            });
          },
          "取消": function () {
            $(this).dialog('close');
          }
        }
      });
    };
  }
  var ssvm = new sssvm();
  setTimeout(ssvm.loaddata, 100);
  ko.applyBindings(ssvm, document.getElementById("usmodel"));
  mainmodel.showback(true);

