#centerModel
  .am-list-news.am-list-news-default(.am-list-news.am-list-news-default)
    ul.am-avg-sm-2.am-avg-md-3.am-avg-lg-4.boxes.am-thumbnails(data-bind="foreach: { data: devices, as: 'dv' }")
      li.box.am-thumbnail
        // ko if: dv.type === 'switch'
        .custombtn.am-btn.am-btn-primary(data-bind="click: $root.switchChanged, css: {'am-active': dv.value === 1}" data-am-button)
          .imgsimple
            img(data-bind="attr: {src:'i/icons/'+ dv.name + (dv.imgValue()?'-on':'-off')+'.png', alt : dv.name }")
          .centerText
            span(data-bind="text:dv.description")
        <!-- /ko -->
        <!-- ko if: dv.name === "led2" -->
        .custombtn(data-bind="click: $root.disLed2")
          .imgsimple
            img(src="i/icons/light2.png" alt="LED2 Light")
          .centerText
            span LED灯带
        <!-- /ko -->
script(type='text/javascript').
  if(ctvm === undefined) {
    console.log('just once!');
    var ctvm = new centerViewModel();
  }
  setTimeout(ctvm.loaddata, 200);
  ko.applyBindings(ctvm, document.getElementById("centerModel"));