#centerModel
  .am-list-news.am-list-news-default(.am-list-news.am-list-news-default)
    ul.am-avg-sm-2.am-avg-md-3.am-avg-lg-4.boxes.am-thumbnails(data-bind="foreach: { data: devices, as: 'dv' }")
      li.box.am-thumbnail
        // ko if: dv.type === 'switch'
        .custombtn.am-btn.am-btn-primary(data-bind="attr:{id: dv.name}, click: $root.switchChanged, css: {'am-active': dv.value == 1}, style:{height:$('#'+dv.name).width()+'px'}" data-am-button)
          .imgsimple
            img(data-bind="attr: {src:'i/icons/'+ dv.name + (dv.imgValue()?'-on':'-off')+'.png', alt : dv.name }")
          .centerText
            span(data-bind="text:dv.description")
        <!-- /ko -->
        <!-- ko if: dv.name === "led2" -->
        .custombtn.am-btn.am-btn-primary(data-bind="attr:{id: dv.name},click: $root.disLed2, style:{height:$('#'+dv.name).width()+'px'}")
          .imgsimple
            img(src="i/icons/light2.png" alt="LED2 Light")
          .centerText
            span LED灯带
        <!-- /ko -->
        <!-- ko if: dv.name === "camera" -->
        .custombtn.am-btn.am-btn-primary(data-bind="attr:{id: dv.name},click: $root.disCam, style:{height:$('#'+dv.name).width()+'px'}")
          .imgsimple
            img(src="i/icons/camera_1.png" alt="Camera")
          .centerText
            span 摄像监控
        <!-- /ko -->
        <!-- ko if: dv.name === "tv" -->
        .custombtn.am-btn.am-btn-primary(data-bind="attr:{id: dv.name},click: $root.disTV, style:{height:$('#'+dv.name).width()+'px'}")
          .imgsimple
            img(src="i/icons/tv.png" alt="TV")
          .centerText
            span 电视
        <!-- /ko -->
        <!-- ko if: dv.name === "air" -->
        .custombtn.am-btn.am-btn-primary(data-bind="attr:{id: dv.name},click: $root.disAir, style:{height:$('#'+dv.name).width()+'px'}")
          .imgsimple
            img(src="i/icons/air2.png" alt="Air")
          .centerText
            span 空调
        <!-- /ko -->
        <!-- ko if: dv.name === "curtain" -->
        .custombtn.am-btn.am-btn-primary(data-bind="attr:{id: dv.name},click: $root.disCurtain, style:{height:$('#'+dv.name).width()+'px'}")
          .imgsimple
            img(src="i/icons/curtain.png" alt="Curtain")
          .centerText
            span 窗帘
        <!-- /ko -->
        <!-- ko if: dv.name === "screen" -->
        .custombtn.am-btn.am-btn-primary(data-bind="attr:{id: dv.name},click: $root.disScreen, style:{height:$('#'+dv.name).width()+'px'}")
          .imgsimple
            img(src="i/icons/screen.png" alt="screen")
          .centerText
            span 幕布
        <!-- /ko -->
        <!-- ko if: dv.name === "volume" -->
        .custombtn.am-btn.am-btn-primary(data-bind="attr:{id: dv.name},click: $root.disVolume, style:{height:$('#'+dv.name).width()+'px'}")
          .imgsimple
            img(src="i/icons/volume.png" alt="volume")
          .centerText
            span 音量控制
        <!-- /ko -->