#centerModel
  .am-list-news.am-list-news-default(.am-list-news.am-list-news-default)
    ul.am-avg-sm-2.am-avg-md-3.am-avg-lg-4.boxes.am-thumbnails(data-bind="foreach: { data: devices, as: 'dv' }")
      li.box.am-thumbnail
        // ko if: dv.type === 'switch'
        .custombtn.am-btn.am-btn-primary(data-bind="click: $root.switchChanged, css: {'am-active': dv.value === 1}" data-am-button)
          .imgsimple
            img(data-bind="attr: {src:'i/icons/'+ dv.name + (dv.imgValue()?'-on':'-off')+'.png', alt : dv.name }")
          .centerText
            span(data-bind="text:dv.description")
        <!-- /ko -->
        <!-- ko if: dv.name === "led2" -->
        .custombtn(data-bind="click: $root.disLed2")
          .imgsimple
            img(src="i/icons/light2.png" alt="LED2 Light")
          .centerText
            span LED灯带
        <!-- /ko -->
        <!-- ko if: dv.name === "camera" -->
        .custombtn(data-bind="click: $root.disCam")
          .imgsimple
            img(src="i/icons/camera_1.png" alt="Camera")
          .centerText
            span 摄像监控
        <!-- /ko -->
        <!-- ko if: dv.name === "tv" -->
        .custombtn(data-bind="click: $root.disTV")
          .imgsimple
            img(src="i/icons/tv.png" alt="TV")
          .centerText
            span 电视
        <!-- /ko -->
        <!-- ko if: dv.name === "air" -->
        .custombtn(data-bind="click: $root.disAir")
          .imgsimple
            img(src="i/icons/air2.png" alt="Air")
          .centerText
            span 空调
        <!-- /ko -->
        <!-- ko if: dv.name === "access" -->
        .custombtn(data-bind="click: $root.disTV")
        .imgsimple
          img(src="i/icons/access2.png" alt="Access")
        .centerText
          span 门禁
        <!-- /ko -->
        <!-- ko if: dv.name === "gas" -->
        .custombtn(data-bind="click: $root.disTV")
          .imgsimple
            img(src="i/icons/gas2.png" alt="gas")
          .centerText
            span 燃气监控
        <!-- /ko -->
        <!-- ko if: dv.name === "volume" -->
        .custombtn(data-bind="click: $root.disVolume")
          .imgsimple
            img(src="i/icons/volume.png" alt="volume")
          .centerText
            span 音量控制
        <!-- /ko -->