#screenModel
  .switch.am-fr
    input.cmn-toggle.cmn-toggle-round#screen-11(type="checkbox" value="screen" data-bind="checked:$root.switchValue(), event:{ change: $root.togSwitched}")
    label(for="screen-11")
  ul.inner-boxes.scrboxes.am-thumbnails(data-bind="foreach: { data: screenButtonGroup, as: 'dv' }")
    li.inner-box.scrbox.am-thumbnail.am-btn(data-bind="text:dv.name,attr: {id: 'scrbutton-' + dv.id, value : dv.name }, click: $root.controlChanged" data-am-button)

script.
  var scrVM = new screenViewModel();
  setTimeout(scrVM.loaddata, 200);
  ko.applyBindings(scrVM, document.getElementById("screenModel"));
  mainmodel.showback(true);