#led2Model
  #container
    #topLoader
  .switch.am-fr
    input.cmn-toggle.cmn-toggle-round#cb-7(type="checkbox" value="led2" data-bind="checked:$root.switchValue(), event:{ change: $root.led2Changed}")
    label(for="cb-7")
script.
  var led2VM = new led2ViewModel();
  setTimeout(led2VM.loaddata, 200);
  ko.applyBindings(led2VM, document.getElementById("led2Model"));
  //go back to main page
  console.log('mainmodel : ', mainmodel);
  mainmodel.showback(true);