#curtainModel
  .switch.am-fr
    input.cmn-toggle.cmn-toggle-round#curtain-10(type="checkbox" value="tv" data-bind="checked:$root.switchValue(), event:{ change: $root.togSwitched}")
    label(for="curtain-10")
  ul.inner-boxes.curboxes.am-thumbnails(data-bind="foreach: { data: curtainButtonGroup, as: 'dv' }")
    li.inner-box.curbox.am-thumbnail.am-btn(data-bind="text:dv.name,attr: {id: 'curbutton-' + dv.id, value : dv.name }, click: $root.controlChanged" data-am-button)

script.
  var curVM = new curtainViewModel();
  setTimeout(curVM.loaddata, 200);
  ko.applyBindings(curVM, document.getElementById("curtainModel"));
  mainmodel.showback(true);