#proModel
  //.switch.am-fr
  //  input.cmn-toggle.cmn-toggle-round#tv-9(type="checkbox" value="tv" data-bind="checked:$root.switchValue(), event:{ change: $root.togSwitched}")
  //  label(for="tv-9")
  .am-list-news.am-list-news-default(data-am-widget="list_news")
    ul.inner-boxes.tvboxes.am-thumbnails(data-bind="foreach: { data: proButtonGroup, as: 'dv' }")
      li.inner-box.tvbox.am-thumbnail.am-btn(data-bind="text:dv.name,attr: {id: 'probutton-' + dv.id, value : dv.name }, click: $root.controlChanged" data-am-button)
    //li.tvbox.am-thumbnail.am-btn(data-bind="text:$root.tvBtnGroup2[0].name,attr: {id: 'tvbutton-' + $root.tvBtnGroup2[0].id, value : $root.tvBtnGroup2[0].name }, click: $root.controlChanged" data-am-button)

script.
  var proVM = new projectorViewModel();
  setTimeout(proVM.loaddata, 200);
  ko.applyBindings(proVM, document.getElementById("proModel"));
  mainmodel.showback(true);
  $(function () {
    var $innerbox = $(".inner-box");
    $innerbox.css("height", $innerbox.width()*0.618);
  });