#tvModel
  .switch.am-fr
    input.cmn-toggle.cmn-toggle-round#tv-9(type="checkbox" value="tv" data-bind="checked:$root.switchValue(), event:{ change: $root.togSwitched}")
    label(for="tv-9")
  .am-list-news.am-list-news-default(data-am-widget="list_news")
    ul.am-avg-sm-2.am-avg-md-3.am-avg-lg-4.boxes.am-thumbnails(data-bind="foreach: { data: tvButtonGroup, as: 'dv' }")
      li.tvbox.am-thumbnail
        .custombtn.am-btn.am-btn-primary(data-bind="attr: {id: 'tvbutton-' + dv.id, value : dv.name }, click: $root.controlChanged, css: { 'am-active': 0 }, style:{height:$('#tvbutton-1').width()+'px'}" data-am-button)
          .tvBtnText
            span(data-bind="text:dv.name") 开关
script.
  var tvVM = new tvViewModel();
  setTimeout(tvVM.loaddata, 200);
  ko.applyBindings(tvVM, document.getElementById("tvModel"));
  mainmodel.showback(true);