#airModel
  .switch.am-fr
    input.cmn-toggle.cmn-toggle-round#air-8(type="checkbox" value="tv" data-bind="checked:$root.switchValue(), event:{ change: $root.togSwitched}")
    label(for="air-8")
  ul.inner-boxes.airboxes.am-thumbnails(data-bind="foreach: { data: airButtonGroup, as: 'dv' }")
    li.inner-box.airbox.am-thumbnail.am-btn(data-bind="text:dv.name,attr: {id: 'airbutton-' + dv.id, value : dv.name }, click: $root.controlChanged" data-am-button)
script.
  var airVM = new airViewModel();
  setTimeout(airVM.loaddata, 200);
  ko.applyBindings(airVM, document.getElementById("airModel"));
  mainmodel.showback(true);
  $(function () {
    var $innerbox = $(".inner-box");
    $innerbox.css("height", $innerbox.width()*0.618);
  });