<!-- 带有链接的标签栏 -->
<div class="toolbar tabbar">
<div class="toolbar-inner">
<a href="#tab1" class="tab-link active"><i class="icon fa fa-cogs fa-2x"></i></a>
<a href="#tab2" class="tab-link"><i class="icon fa fa-info-circle fa-2x"></i></a>
</div>
</div>