include ../mixins/utils
+navbar('智能空调')

.pages
  .page(data-page="air")
    .page-content.page-content-air
     .content-block-air-title
       .li
         .air(data-bind="text: $root.controller")
       .row
         .col-33
           select.button-raised.mushi(id="air-mode" data-bind="options: $root.options, optionsText: 'name',optionsValue: 'value' ")
         .col-33
           a.air-btn.button.button-raised(data-code="9" data-bind="click: $root.powerOff")
             i.fa.fa-power-off.fa-2x.color-red
         .col-33
           a.air-btn.button.button-raised(data-code="9") 风速
           
       .row
         .col-33
           a.air-btn.button.button-raised(data-code="0" data-bind="click: $root.windChange") 高风
         .col-33
           a.air-btn.button.button-raised(data-code="1" data-bind="click: $root.windChange") 中风
         .col-33
           a.air-btn.button.button-raised(data-code="2" data-bind="click: $root.windChange") 低风
       .item-air-title.label.slider-title 温度
       .item-input
         .air-range-slider.range-slider
           input(type="range", min="17", max="30", value="24", step="1" data-bind="value: $root.controller, event:{ change: $root.sliderChange}")
       .row
         .col-50
           a.air-btn.button.button-raised(data-code="9") 风向
         .col-50
           a.air-btn.button.button-raised(data-code="9") 加水
       .row
         .col-50
           a.air-btn.button.button-raised(data-code="9") 加湿
         .col-50
           a.air-btn.button.button-raised(data-code="9") 电辅热