include ../mixins/utils
+navbar('摄像监控')

.pages
  .page(data-page="camera")
    // Scrollable page content
    .page-content
      #camera-view
        iframe(src="http://192.168.1.111:8081/javascript_simple.html" data-bind="attr: { src: $root.camIp() + '/javascript_simple.html' }")
      .content-block-title(data-bind="click: $root.controllerChanged2(6)")
        h2#camera-title 云台控制
        .row
          .col-50
            a(href="#" data-code="3").button.button-big.button-fill.camera-btn
              i.fa.fa-play.fa-2x.camera-icon
          .col-50
            a(href="#" data-code="4").button.button-big.button-fill.camera-btn
              i.fa.fa-stop.fa-2x.camera-icon
        .row
          .col-50
            a(href="#" data-code="1").button.button-big.button-fill.camera-btn
              i.fa.fa-play.fa-2x.camera-icon
          .col-50
            a(href="#" data-code="2").button.button-big.button-fill.camera-btn
              i.fa.fa-stop.fa-2x.camera-icon

