include ../mixins/utils
+navbar('门禁')
.pages
  .page(data-page="door")
    .page-content
      .list-block
        ul#door-ul
          +switchListBar('前门', 'icon-form-password')
          li
            .switch
            .switch.demo2
              input(type="checkbox" data-bind="checked:($root.switchValue[2]), event:{ change: $root.switchChanged(2)}")
              label

          +switchListBar('后门', 'icon-form-password')
          li
            .switch
            .switch.demo2
              input(type="checkbox" data-bind="checked:($root.switchValue[15]), event:{ change: $root.switchChanged(15)}")
              label