include ../mixins/utils

+navbar('LED灯带')
.pages
  // Page, data-page contains page name
  .page(data-page="led2")
    // Scrollable page content
    .page-content-led2.page-content-projector
      .projector-img-block(data-bind="click: $root.controllerChanged2(7)")
        .content-block.projector-content
          .row
            .col-100
              a.a-content-projector-icon.button.button-big.button-fill(data-code="10")
                i.fa.fa-caret-up.fa-2x.color-blue.content-projector-icon
          .row
            .col-33
              a.a-content-projector-icon.button.button-big.button-fill(data-code="0")
                i.fa.fa-power-off.fa-2x.color-green.content-projector-icon
            .col-33
              a.a-content-projector-icon.button.button-big.button-fill(data-code="9")
                i.fa.fa-caret-down.fa-2x.color-blue.content-projector-icon
            .col-33
              a.a-content-projector-icon.button.button-big.button-fill(data-code="1")
                i.fa.fa-power-off.fa-2x.color-red.content-projector-icon
          .row
            .col-100
              a.a-content-projector-icon.a-content-text-icon.button.button-big.button-fill.color-green(data-code="2")
          .row
            .col-50
              a.a-content-projector-icon.a-content-text-icon.button.button-big.button-fill.color-red(data-code="3")
            .col-50
              a.a-content-projector-icon.a-content-text-icon.button.button-big.button-fill.color-blue(data-code="5")
          .row
            .col-100
              a.a-content-projector-icon.a-content-text-icon.button.button-big.button-fill.color-gray(data-code="6")
          .row
            .col-33
              a.a-content-projector-icon.a-content-text-icon.button.button-big.button-fill(data-code="7") 闪烁
            .col-33
              a.a-content-projector-icon.a-content-text-icon.button.button-big.button-fill(data-code="4") 渐隐
            .col-33
              a.a-content-projector-icon.a-content-text-icon.button.button-big.button-fill(data-code="8") 变化