include ../mixins/utils

+navbar('智能照明')
.pages
  // Page, data-page contains page name
  .page(data-page="led")
    // Scrollable page content
    .page-content
      .list-block
        ul.u2-u2
          +switchListBar('大厅开关', 'icon-form-toggle')
          li
            .switch
            .switch.demo3
              input(type="checkbox" data-bind="checked:($root.switchValue[1]), event:{ change: $root.switchChanged(1)}")
              label
          +switchListBar('LOGO灯开关', 'icon-form-toggle')
          li
            .switch
            .switch.demo3
              input(type='checkbox' data-bind="checked:($root.switchValue[15]), event:{ change: $root.switchChanged(15)}")
              label

          +switchListBar('客厅开关', 'icon-form-toggle')
          li
            .switch
            .switch.demo3
              input(type='checkbox')
              label