include ../mixins/utils
+navbar('投影仪')

.pages
  // Page, data-page contains page name
  .page(data-page="projector")
    // Scrollable page content
    .page-content.page-content-projector
      .projector-img-block(data-bind="click: $root.controllerChanged2(5)")
        .content-block.projector-content
          .row
            .col-33
              a.a-projector-icon.button.button-raised(data-code="1")
                i.fa.fa-bars.fa-2x
            .col-33
              a.a-projector-icon.button.button-raised(data-code="0")
                i.fa.fa-power-off.fa-2x.color-red
            .col-33
              a.a-projector-icon.a-text-icon.button.button-raised(data-code="9") 信号
        .content-block.projector-content
          .row
            .col-100
              a#btn-top.a-projector-icon.button.button-raised(data-code="2")
                i.fa.fa-caret-up.fa-3x
          .row
            .col-33
              a#btn-left.a-projector-icon.button.button-raised(data-code="3")
                i.fa.fa-caret-left.fa-3x.projector-icon-left
            .col-33
              a#btn-ok.a-projector-icon.button.button-raised(data-code="4") OK
            .col-33
              a#btn-right.a-projector-icon.button.button-raised(data-code="5")
                i.fa.fa-caret-right.fa-3x.projector-icon-right
          .row
            .col-100
              a#btn-down.a-projector-icon.button.button-raised(data-code="6")
                i.fa.fa-caret-down.fa-3x
        .content-block.projector-content
          .row
            .col-50
              a.a-projector-icon.a-text-icon.button.button-raised(data-code="7") 放大
            .col-50
              a.a-projector-icon.a-text-icon.button.button-raised(data-code="8") 缩小