include ../mixins/utils
+navbar('智能电视')
.pages
  // Page, data-page contains page name
  .page(data-page="tv")
    // Scrollable page content
    .page-content-tv
      .tv-img-block(data-bind="click: $root.controllerChanged2(9)")
        .content-block.tv-content
          .row
            a.a-content-block-icon#btn15.button.button-big.button-fill(data-code="16")
              i.fa.fa-volume-down.a-stack-1x.color-blue
              i#ico15.fa.fa-ban.fa-stack-2x.color-red
            a.a-content-block-icon#btn0.button.button-big.button-fill(data-code="0")
              i#ico0.fa.fa-power-off.fa-2x.color-red.content-block-icon2
        .content-block.block-btn-2
          .row
            a#btn11.a-content-block-icon.button.button-big.button-fill(data-code="14")
              i#ico11.fa.fa-angle-up.fa-3x.content-block-icon3
          .row
            a#btn12.a-content-block-icon.button.button-big.button-fill(data-code="12")
              i#ico12.fa.fa-angle-left.fa-3x.content-block-icon4
            a#btn10.a-content-block-icon.button.button-big.button-fill(data-code="11") OK
            a#btn13.a-content-block-icon.button.button-big.button-fill(data-code="13")
              i#ico13.fa.fa-angle-right.fa-3x.content-block-icon6
          .row
            a#btn14.a-content-block-icon.button.button-big.button-fill(data-code="15")
              i#ico14.fa.fa-angle-down.fa-3x.content-block-icon7
        .content-block.block-btn-3
          .row
            a#btn1.a-content-block-icon.button.button-big.button-fill(data-code="1") 1
            a#btn2.a-content-block-icon.button.button-big.button-fill(data-code="2") 2
            a#btn3.a-content-block-icon.button.button-big.button-fill(data-code="3") 3
          .row
            a#btn4.a-content-block-icon.button.button-big.button-fill(data-code="4") 4
            a#btn5.a-content-block-icon.button.button-big.button-fill(data-code="5") 5
            a#btn6.a-content-block-icon.button.button-big.button-fill(data-code="6") 6
          .row
            a#btn7.a-content-block-icon.button.button-big.button-fill(data-code="7") 7
            a#btn8.a-content-block-icon.button.button-big.button-fill(data-code="8") 8
            a#btn9.a-content-block-icon.button.button-big.button-fill(data-code="9") 9
