include ../mixins/utils
+navbar('智能音箱')
.pages
  .page(data-page="volume")
    .page-content.volume-block
      .content-block.volume-background
        .volume-img-block(data-bind="click: $root.controllerChanged2(12)")
          .row
            .col-33
            .col-33
            .col-33
              a#btn1.a-content-block-volume-icon.button.button-raised(data-code="2")
                i#ico1.fa.fa-plus.fa-2x

              a#btn5.a-content-block-volume-icon.button.button-raised(data-code="3")
                i#ico5.fa.fa-minus.fa-2x
          .row
            .col-33
              a#btn2.a-content-block-volume-icon.button.button-raised(data-code="5")
                i#ico2.fa.fa-step-backward.fa-2x
            .col-33
              a#btn3.a-content-block-volume-icon.button.button-raised(data-code="4")
                i#ico3.fa.fa-play.fa-2x
            .col-33
              a#btn4.a-content-block-volume-icon.button.button-raised(data-code="6")
                i#ico4.fa.fa-step-forward.fa-2x

