include ../mixins/utils
+navbar('智能窗户')

.pages
  .page(data-page="window")
    .page-content.curtain-background
      .content-block-zong
        .content-block-title 窗户列表
        .list-block.curtain
          ul.curtain-opacity(data-bind="click: $root.controllerChanged(14)")
            li.accordion-item
              a(href="#").item-content.item-link
                div(class="item-inner")
                  .item-title 1号窗户
              .accordion-item-content
                .content-block
                  .row
                    .col-33
                      a#btn1.button.button-large.button-plain.button-border.button-box
                        i.curtain-icon.fa-2x(class="fa fa-arrow-left")
                    .col-33
                      a#btn3.button.button-large.button-plain.button-border.button-box
                        i.curtain-icon.fa-2x(class="fa fa-square")
                    .col-33
                      a#btn2.button.button-large.button-plain.button-border.button-box
                        i.curtain-icon.fa-2x(class="fa fa-arrow-right")
            li.accordion-item
              a(href="#").item-content.item-link
                div(class="item-inner")
                  .item-title 2号窗户
              .accordion-item-content
                .content-block
                  .row
                    .col-33
                      a#btn4.button.button-large.button-plain.button-border.button-box
                        i.curtain-icon.fa-2x(class="fa fa-arrow-left")
                    .col-33
                      a#btn5.button.button-large.button-plain.button-border.button-box
                        i.curtain-icon.fa-2x(class="fa fa-square")
                    .col-33
                      a#btn6.button.button-large.button-plain.button-border.button-box
                        i.curtain-icon.fa-2x(class="fa fa-arrow-right")
            li.accordion-item
              a(href="#").item-content.item-link
                div(class="item-inner")
                  .item-title 3号窗户
              .accordion-item-content
                .content-block
                  .row
                    .col-33
                      a#btn7.button.button-large.button-plain.button-border.button-box
                        i.curtain-icon.fa-2x(class="fa fa-arrow-left")
                    .col-33
                      a#btn8.button.button-large.button-plain.button-border.button-box
                        i.curtain-icon.fa-2x(class="fa fa-square")
                    .col-33
                      a#btn9.button.button-large.button-plain.button-border.button-box
                        i.curtain-icon.fa-2x(class="fa fa-arrow-right")
